@import './variables.css';

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "open sans", "segoe ui", helvetica, arial, sans-serif;
}

.app {
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: var(--color-blank-area-bg);
}


